{% include "head.html" %}
<style>
    .color-rect {
        height:1em;
        width:100%;
        background-color: #{{profile.color}};
        border-radius:7px;
    }
    .head-row {
        display: flex;
        justify-content: center;
    }
    .button {
        flex:1;
    }
</style>
<div class="content">
<h1>Clients</h1>
{% for client in clients %}
<div class="head-row">
    <h3 style="flex:2;border-left:3px solid #{{client.current_profile.color}};padding-left:0.3em;">{{client.name}} <small style="text-align: right;">by {{client.owner}}</small></h3>
{% if client.on %}
<button onclick="get(this,'{% url 'clients' %}/{{ client.key }}/toggle')" class="button on">
On
{% else %}
<button onclick="get(this,'{% url 'clients' %}/{{ client.key }}/toggle')" class="button off">
Off
{% endif %}
</button>
</div>
<p>API-Key: <a href="{% url 'clients' %}/{{ client.key }}" class="label">{{ client.key }}</a></p>
<p> Color: <a href="/color/{{client.current_profile.name}}" class="label">{{client.current_profile}}</a></p>
<div class="color-rect" style="background-color:#{{client.current_profile.color}};"></div>
{% endfor %}
</div>
<script>
// Set up our HTTP request
var xhr = new XMLHttpRequest();

// Setup our listener to process completed requests
var get = function(btn,url){
    xhr.open('GET', url);
    xhr.send();
    xhr.onload = function () {
        data = JSON.parse(xhr.response)
        if(data["on"]){
            btn.innerHTML = "On"
            btn.classList.remove("off")
            btn.classList.add("on")
        } else {
            btn.innerHTML = "Off"
            btn.classList.remove("on")
            btn.classList.add("off")
        }
    };
};
</script>
{% include "footer.html" %}
