{% include "head.html" %}
<style>
    .color-picker {
        width:100%;
    }
    .pickr .pcr-button {
        margin-top:0.5em!important;
        width:100%!important;
    }
    .pcr-app[data-theme=classic] {
        max-width:80vw!important;
        width:100%!important;
    }
    .pcr-app {
        box-shadow: none!important;
    }
    .content {
        max-width:80vw!important;
    }
    .off {
        background-color:rgb(117, 26, 45);
        border-color: rgb(117, 26, 45);
        margin-right:1em;
    }
    .off:hover{
        color:rgb(117, 26, 45);
        
    }
    .button {
        flex: 1;
        width:auto;
    }
</style>
<div class="content">
<h1>Master</h1>
<div style="display:flex">
<button onclick="turn(this,'master',false)" class="button off">
    Off
</button>
<button onclick="turn(this,'master',true)" class="button on">
    On
</button>
</div>
<div class="color-picker"></div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/> <!-- 'monolith' theme -->
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script>
var cur_color = "{{color}}"
var CSRF_TOKEN = '{{ csrf_token }}'
const pickr = Pickr.create({
    el: '.color-picker',
    theme: 'classic', // or 'monolith', or 'nano'

    swatches: [
    ],           
    default: "#{{color}}",
    inline:true,
    showAlways:true,
    position:"bottom-middle",
    components: {

        // Main components
        preview: true,
        opacity: true,
        hue: true,

        // Input / output Options
        interaction: {
            input: true,
            clear: true,
        }
    }
});
pickr.on('change', (color,instance) => {
    c = color.toHEXA()
    document.getElementsByClassName("pcr-button")[0].style.color = c
    cur_color = c
});
pickr.on('changestop', (instance) => {
    updateColor(cur_color.toString())
});
var updateColor = function(color){
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{url}}', true);
    xhr.withCredentials = true;
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRFToken', CSRF_TOKEN),
    xhr.send('color='+color);
}

var turn = function(btn,url,on){
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRFToken', CSRF_TOKEN),
    xhr.send('on='+ ( on ? "True" : "False" ));
};
</script>
{% include "footer.html" %}
